/* google font import - poppins*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Georgian:wght@200;400&family=Open+Sans:wght@400;500;600;700&family=Poppins:wght@300;400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap");

:root {
  --color-main: #389c9c;
  --color-primary: #349cc0;
  --color-secondary: #c4e6e6;
  --color-accent: #d8bcbc;
  --color-body: #d4ffff;
  --color-heading: #fff;
  --color-toggle: #bbbbbb;
  --color-text: #666;

  /* _________________Transition________________*/
  --trans-02: all 0.2s ease;
  --trans-03: all 0.3s ease;
  --trans-04: all 0.4s ease;
  --trans-05: all 0.5s ease;
}

* {
  font-family: "poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /*1rem = 10px*/
  font-size: 62.5%;
}

body {
  height: 100vh;
  background: var(--color-body);
  transition: var(--trans-05);
}

body.dark {
  --color-primary: #3a3b3c;
  --color-body: #18191a;
  --color-heading: #242526;
  --color-secondary: #3a3b3c;
  --color-toggle: #fff;
  --color-text: #ccc;
}
/*=======sidebar section========*/

.sidebar {
  background: var(--color-heading);
  height: 100%;
  left: 0;
  padding: 10px 14px;
  position: fixed;
  top: 0;
  width: 250px;
  transition: var(--trans-05);
  z-index: 100;
}

.sidebar.close {
  width: 88px;
}

/*=======Resuable CSS section========*/

.sidebar .text {
  font-size: 1.6rem;
  font-weight: 500;
  opacity: 1;
  transition: var(--trans-03);
  white-space: nowrap;
}

.sidebar.close .text {
  opacity: 0;
}
.sidebar .image {
  min-width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar li {
  height: 50px;
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.sidebar li .icon {
  font-size: 2rem;
  min-width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sidebar li .icon,
.sidebar .text {
  color: var(--color-text);
  transition: var(--trans-02);
}

.sidebar header {
  position: relative;
}

.sidebar .image-text img {
  width: 40px;
}

.sidebar header .image-text {
  display: flex;
  align-items: center;
}

.sidebar .image-text .header-text {
  display: flex;
  flex-direction: column;
  white-space: nowrap;
}

.header-text .name {
  font-weight: 600;
  text-transform: uppercase;
}

.header-text .profession {
  margin-top: -2px;
}

.sidebar header .toggle {
  align-items: center;
  background: var(--color-primary);
  border-radius: 50%;
  color: var(--color-heading);
  cursor: pointer;
  display: flex;
  font-size: 2.2rem;
  height: 25px;
  justify-content: center;
  position: absolute;
  right: -25px;
  top: 50%;
  transform: translateY(-50%) rotate(180deg);
  width: 25px;
}

body.dark .toggle {
  color: var(--color-toggle);
}

.sidebar.close .toggle {
  transform: translateY(-50%);
}

.sidebar .menu {
  margin-top: 35px;
}

.sidebar .search-box {
  background: var(--color-secondary);
  border-radius: 6px;
  transition: var(--trans-05);
}

.search-box input {
  width: 100%;
  height: 100%;
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--color-text);
  background: var(--color-secondary);
  outline: none;
  border: none;
  border-radius: 6px;
  transition: var(--trans-05);
}

.sidebar li a {
  text-decoration: none;
  width: 100%;
  border-radius: 6px;
  transition: var(--trans-04);
  height: 100%;
  display: flex;
  align-items: center;
}

.sidebar li a:hover {
  background: var(--color-primary);
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text {
  color: var(--color-heading);
}

body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text {
  color: var(--color-text);
}

.sidebar .menu-bar {
  height: calc(100% - 50px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu-bar .mode {
  background: var(--color-secondary);
  position: relative;
  border-radius: 6px;
  overflow: hidden;
}

.menu-bar .mode .moon-sun {
  display: flex;
  width: 60px;
  align-items: center;
  height: 50px;
}

.menu-bar .mode i {
  position: absolute;
  transition: var(--trans-03);
}

.menu-bar .mode i.sun {
  opacity: 0;
}

body.dark .menu-bar .mode i.sun {
  opacity: 1;
}

body.dark .menu-bar .mode i.moon {
  opacity: 0;
}

.menu-bar .mode .toggle-switch {
  position: absolute;
  right: 0;
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 100%;
  justify-content: center;
  min-width: 60px;
  background: var(--color-secondary);
  transition: var(--trans-05);
}

.toggle-switch .switch {
  background: var(--color-toggle);
  border-radius: 25px;
  height: 22px;
  position: relative;
  width: 44px;
}

.switch::before {
  background: var(--color-heading);
  border-radius: 50%;
  content: "";

  height: 15px;
  left: 5px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: var(--trans-03);
  width: 15px;
}

body.dark .switch::before {
  left: 24px;
}

.home {
  height: 100%;
  position: relative;
  left: 250px;
  width: calc(100% - 250px);
  transition: var(--trans-05);
  background: var(--color-body);
}

.home .text {
  font-size: 3rem;
  font-weight: 500;
  color: var(--color-text);
  padding: 8px 40px;
}

.sidebar.close ~ .home {
  left: 88px;
  width: calc(100% - 88px);
}
